.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 75%;
    height: auto;
}

mat-form-field {
    width: 100%;
}
    